<a href="https://colab.research.google.com/github/Lokhande10/Pyspark/blob/main/Pyspark_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [29]:
ls

'data.csv - Sheet1.csv'   sample_data/

In [8]:
pd.read_csv('data.csv - Sheet1.csv')

     Name  Age  Experience
0   Sunil   50          15
1  Sachin   35          18
2   Rohit   40          12
3    Viru   36          12

In [9]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 41.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=bc921b181aa1396b645f9a4383707834a376cb05163c654ad570d767b28c30df
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
# Pyspark Commands

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [13]:
spark

In [ ]:
# Read Data set

In [22]:
df=spark.read.option('header','true').csv('data.csv - Sheet1.csv')

In [20]:
df=spark.read.option('header','true').csv('data.csv - Sheet1.csv',inferSchema=True)                # interschema = True will shows Data types correctly as per database

In [ ]:
# Check Schema

In [21]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [23]:
df=spark.read.csv('data.csv - Sheet1.csv',header=True,inferSchema=True)
df.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Sunil| 50|        15|
|Sachin| 35|        18|
| Rohit| 40|        12|
|  Viru| 36|        12|
+------+---+----------+

In [24]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# To get col names

In [26]:
df.columns

['Name', 'Age', 'Experience']

In [27]:
df.head(2)

[Row(Name='Sunil', Age=50, Experience=15),
 Row(Name='Sachin', Age=35, Experience=18)]

In [ ]:
#pick up any one column

In [28]:
df.select('Name').show()

+------+
|  Name|
+------+
| Sunil|
|Sachin|
| Rohit|
|  Viru|
+------+

In [ ]:
# Pyspark commands for Handling missing Values

In [ ]:
#Drop col,drop rows,  Handling missing values by mean, median , mode

In [39]:
df1=spark.read.csv('datasheet1.csv',header=True,inferSchema=True)

In [40]:
df1.show()

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|Saddhu| 24|   7|  null|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
|Vishal| 26|null|  null|
+------+---+----+------+

In [ ]:
#Drop Col

In [42]:
df1.drop('Name').show()

+---+----+------+
|Age| Exp|Salary|
+---+----+------+
| 25|   5| 20000|
| 22|null| 50000|
| 23|   8| 30000|
| 27|   2| 24000|
| 24|   7|  null|
| 25|   3| 25000|
| 24|null| 29000|
| 26|null|  null|
+---+----+------+

In [ ]:
# Handling missing values

In [43]:
df1.show()

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|Saddhu| 24|   7|  null|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
|Vishal| 26|null|  null|
+------+---+----+------+

In [44]:
df.na.drop().show()                          # Rows which has null values droped

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Sunil| 50|        15|
|Sachin| 35|        18|
| Rohit| 40|        12|
|  Viru| 36|        12|
+------+---+----------+

In [ ]:
We will see drop features :- How, Thresh

In [45]:
# any == how          how='all'  drop all rows which contains null values
df1.na.drop(how='all').show()

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|Saddhu| 24|   7|  null|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
|Vishal| 26|null|  null|
+------+---+----+------+

In [ ]:
# Threshold

In [52]:
df1.na.drop(how='any',thresh=3).show() # Atleast 3 non null values should be present

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|Saddhu| 24|   7|  null|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
+------+---+----+------+

In [ ]:
# Subset

In [58]:
df1.na.drop(how='any',subset=['Salary']).show()                 # Saddhu is dropped as it contains null value in salary column

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
+------+---+----+------+

In [ ]:
# Fill the missing values

In [61]:
df1.show()

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|Saddhu| 24|   7|  null|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
|Vishal| 26|null|  null|
+------+---+----+------+

In [74]:
df1.na.fill(value=0).show()                # null is replace by 0

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|Sachin| 25|  5| 20000|
|  Ravi| 22|  0| 50000|
| Sanju| 23|  8| 30000|
|  Viru| 27|  2| 24000|
|Saddhu| 24|  7|     0|
|  Rutu| 25|  3| 25000|
|Nikhil| 24|  0| 29000|
|Vishal| 26|  0|     0|
+------+---+---+------+

In [76]:
df1.na.fill(value=0,subset=["Salary"]).show()

+------+---+----+------+
|  Name|Age| Exp|Salary|
+------+---+----+------+
|Sachin| 25|   5| 20000|
|  Ravi| 22|null| 50000|
| Sanju| 23|   8| 30000|
|  Viru| 27|   2| 24000|
|Saddhu| 24|   7|     0|
|  Rutu| 25|   3| 25000|
|Nikhil| 24|null| 29000|
|Vishal| 26|null|     0|
+------+---+----+------+

In [ ]:
# Imputer Function

In [84]:
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Exp','Salary'], 
                  outputCols=["{}_imputed".format(c) for c in ['Exp','Salary']]).setStrategy('mean')

In [85]:
imputer.fit(df1).transform(df1).show()

+------+---+----+------+-----------+--------------+
|  Name|Age| Exp|Salary|Exp_imputed|Salary_imputed|
+------+---+----+------+-----------+--------------+
|Sachin| 25|   5| 20000|          5|         20000|
|  Ravi| 22|null| 50000|          5|         50000|
| Sanju| 23|   8| 30000|          8|         30000|
|  Viru| 27|   2| 24000|          2|         24000|
|Saddhu| 24|   7|  null|          7|         29666|
|  Rutu| 25|   3| 25000|          3|         25000|
|Nikhil| 24|null| 29000|          5|         29000|
|Vishal| 26|null|  null|          5|         29666|
+------+---+----+------+-----------+--------------+